*{
    margin: 0;
    padding: 0;
}

.container{
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}

span{
    color: #F00;
}


body{
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6,p{
    font-family: 'Inter', sans-serif;
}

/* header section start */
.header{
    width: 100%;
    background: url("../images/Banner\ Image.png") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    border-radius: 16px;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}


.banner{
    position: relative;
    padding: 175px 0px;
    color: #fff;
    text-align: center;
}

.inner-banner h4{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.inner-banner h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2em;
    margin-top: 20px;
}
/* header section end */

/* offer sevtion start */
/* main{
    max-width: 1300px;
    margin: 0 auto;
} */

.offer{
    text-align: center;
    margin: 130px 0;
}

.offer h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.offer h6{
    color: #F00;
    font-size: 22px;
    font-weight: 500;
    margin: 40px 0px 20px 0px;
}

.offer h3{
    color: #070211;
    font-size: 42px;
    font-weight: 700;
}

.offer img{
    width: 802.9px;
    height: 500px;
    margin-top: 40px;
}

/* offer sevtion end */

/* welcome section start */
.welcome{
    margin-bottom: 130px;
}

.party{
    width: 100%;
    background: url("../images/Vectorrr.png") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    position: relative;
}

.party::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.party-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
}

.midnight{
    color: #FFF;
}

.midnight h2{
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight p{
    margin:15px 0px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

.midnight button{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    margin-left: 20px;
    margin-top: 15px;
}

/* welcome section end */

/* details section start */
.details-info{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
}

.details-info{
    padding: 80px 0px;
}

.details-info h5{
    color: #070211;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
}

.details-info button{
    padding: 10px 20px;
    margin: 20px 20px 0px 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #F00;
    border: 3px solid #ffffff;
    transition: 1s;
}

.details-info button:hover{
    color: #F00;
    background: #fff;
    border: 3px solid #F00;
}

/* details section end */

/* coming soon style start */
.new{
    margin: 130px 0px;
}
.best-offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coming{
    width: 25%;
}

.coming h6{
    color: #F00;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.coming h3{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 15px 0px;
}

.coming p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
}

.new-img{
    width: 50%;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    border: 10px solid #F00;
    width: 350px;
    height: 350px;
    padding: 15px;
}

.new-img .img-fluid{
    width: 100%;
}

.happy{
    width: 25%;
    margin: 15px 0px 15px 20px
}

.happy h3{
    color: #F00;
    font-size: 40px;
    font-weight: 700;
}

.happy p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    margin: 15px 0px;
}
/* coming soon style end */

/* functional style start */
.functional{
    margin-bottom: 130px;
}

.holidays{
    text-align: center;
}

.sales-info{
    margin-bottom: 50px;
}

.sales-info h6{
    color: #070211;
    font-size: 22px;
    font-weight: 500;
}

.sales-info h2{
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    padding: 15px 0px;
}

.sales-info p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
}

.images{
    background: url("../images/Rectangle\ 2.png") center bottom no-repeat;
    display: flex;
    justify-content: space-between;
}

.images .fig1{
    width: 50%;
}




/* functional style end */